.b-main-header {
	height: 70px;
	background: $color-primary;
}

.b-main-navigation {
	float: right;

	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: inline-block;
		float: left;
		text-align: center;
	}

	&__icon {
		display: block;
		clear: both;
		margin-bottom: 5px;
	}

	&__link {
		color: white;
		display: block;
		padding: 14px 20px;
		font-size: 15px;

		&:hover {
			background: #174377;
			text-decoration: none;
			color: orange;
		}
	}

}

.b-logo {
	float: left;
	margin: 10px 0 0 0;
	padding: 5px 0 0 10px;
	font-size: 26px;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 2px solid white;

	& a {
		color: white;
	}
}

.b-section {
	overflow: hidden;
	padding: 100px 0;

	&--learn-signals {
		background-color: $color-secondary;
	}

}

